Repository Sanchitbajaj02/palettegram, pull requests merged in 2023-10, with the labels that each got.

#63 feat: Toggle theme button, ThemeProvider.
  package.json
  src/app/layout.tsx
  src/components/core/navbar/Theme.tsx
  src/components/core/navbar/index.tsx
  src/components/pages/home/index.tsx
  src/context/Provider.tsx
  src/styles/globals.css
  tailwind.config.js
  yarn.lock
Labels: wait for reviewers

#66 feat: add docker and compose configs #64
  .dockerignore
  Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
  docs/setup.md
  next.config.js
Labels: ⭐ enhancement, dependencies, hacktoberfest-accepted

#70 feat: updated the env example for the latest project config #69
  .env.example
Labels: 🛠 goal: fix, ⭐ enhancement, hacktoberfest-accepted

#72 feat: landing page redesign
  package.json
  src/components/pages/home/index.tsx
  yarn.lock
Labels: 🛠 goal: fix, ⭐ enhancement, ✨ goal: improve interface, hacktoberfest-accepted

#79 bug: Improving the validation Tost message
  src/components/pages/auth/register/index.tsx
Labels: 🏆 good first issue, 🛠 goal: fix, ⭐ enhancement, hacktoberfest-accepted

#80 fix: implemented the add post to feed feature in real time
  README.md
  src/app/layout.tsx
  src/components/core/createPost/index.tsx
  src/components/core/posts/SinglePost.jsx
  src/components/core/posts/SinglePost.tsx
  src/components/core/posts/index.tsx
  src/redux/reducers/postsReducer.ts
  src/types/index.d.ts
  yarn.lock
Labels: 🪲 bug, 🛠 goal: fix, ⭐ enhancement, hacktoberfest-accepted

#81 fix: localstorage dependency removed
  src/backend/auth.api.ts
  src/backend/posts.api.ts
  src/components/core/createPost/index.tsx
  src/components/core/navbar/index.tsx
  src/components/core/posts/SinglePost.tsx
  src/components/pages/auth/login/index.tsx
  src/components/pages/auth/register/index.tsx
  src/components/pages/auth/verification/index.tsx
  src/components/pages/home/index.tsx
  src/redux/reducers/authReducer.ts
  src/types/index.d.ts
Labels: 🪲 bug, 🏆 good first issue, 🛠 goal: fix, dependencies, hacktoberfest-accepted
