Repository Sanchitbajaj02/palettegram, pull requests merged in 2023-06, with the labels that each got.

#20 feat: minor label issues fix in issue files
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: 🏆 good first issue, ⭐ enhancement

#27 fix: code fixing and enhancing the store as well as auth apis
  .env.example
  src/App.jsx
  src/DB/api.js
  src/DB/appwrite.config.js
  src/Redux/auth/authReducer.js
  src/Redux/posts/postsReducer.js
  src/Redux/store.js
  src/app/store.js
  src/components/Auth/Login.jsx
  src/components/Auth/Register.jsx
  src/components/CreatePost.jsx
  src/components/Feed.jsx
  src/components/Posts.jsx
  src/features/register/registerReducer.js
  src/index.js
Labels: 🪲 bug, 🏆 good first issue, 🛠 goal: fix, ⭐ enhancement

#39 Toaster setup
  package.json
  src/App.jsx
  src/components/Auth/Login.jsx
  src/components/Auth/Register.jsx
  src/components/Feed.jsx
  yarn.lock
Labels: title-needs-formatting
