Repository Sanchitbajaj02/palettegram, pull requests merged in 2024-05, with the labels that each got.

#272 feat: User creation on register
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/styles.yml
  .github/labeler.yml
  next.config.js
  src/backend/auth.api.ts
  src/backend/updateProfile.api.ts
  src/components/core/posts/SinglePost.tsx
  src/components/pages/auth/forgot/index.tsx
  src/components/pages/auth/updatepassword/index.tsx
  src/components/pages/auth/verification/index.tsx
  src/components/pages/user/imageUpload.tsx
  yarn.lock
Labels: 🪲 bug, 🛠 goal: fix, ⭐ enhancement, MEDIUM

#274 fix: optimize user profile upload and update functionality
  next.config.js
  src/backend/updateProfile.api.ts
  src/components/core/navbar/index.tsx
  src/components/pages/user/imageUpload.tsx
  src/components/pages/user/index.tsx
  src/components/pages/user/updateCard.tsx
  src/types/index.d.ts
Labels: 🪲 bug, 🛠 goal: fix, ⭐ enhancement, HARD

#275 fix: optimize end to end workflow of verification
  src/backend/auth.api.ts
  src/backend/posts.api.ts
  src/components/pages/auth/login/index.tsx
  src/components/pages/auth/register/index.tsx
  src/components/pages/auth/verification/index.tsx
  src/components/pages/user/imageUpload.tsx
  src/components/pages/user/updateCard.tsx
  src/components/pages/user/userPosts/index.tsx
  src/middleware.ts
  src/types/auth.d.ts
Labels: wait for reviewers

#288 docs: removed grammatical errors
  README.md
Labels: 📄 docs update, BEGINNER, level1, gsssoc

#289 docs: Added Table of Contents in Docs
  README.md
Labels: 📄 docs update, EASY, level1, gsssoc

#276 chore: github Oauth
  README.md
Labels: ⭐ enhancement, ✨ goal: improve interface, wait for reviewers, MEDIUM

#299 feat: implemented character limit in text editor
  src/components/Editor/Markdown.tsx
  src/components/core/createPost/index.tsx
  src/components/core/navbar/index.tsx
  yarn.lock
Labels: 🪲 bug, 🛠 goal: fix, ⭐ enhancement, MEDIUM, level2, gsssoc

#302 fix: improved the blur effect of navbar
  src/components/core/navbar/index.tsx
Labels: 🪲 bug, 🏆 good first issue, 🛠 goal: fix, ✨ goal: improve interface, EASY, level1, gsssoc

#304 feat: updated dockerfile and revived docker functionality
  Dockerfile
Labels: 🪲 bug, 🛠 goal: fix, MEDIUM, level2, gsssoc

#316 fix: Updated homepage to give more info about website
  public/assets/imgA.png
  public/assets/imgB.png
  public/assets/imgC.png
  src/components/pages/home/index.tsx
Labels: ⭐ enhancement, ✨ goal: improve interface, EASY, level1, gsssoc

#325 feat: Security Update - Password Criteria Increased
  appwrite-gen/package.json
  src/components/pages/auth/register/index.tsx
  yarn.lock
Labels: 🪲 bug, 🛠 goal: fix, ⭐ enhancement, level1, gsssoc

#329 feat: Added newer images to homepage description
  public/assets/img-1.png
  public/assets/img-2.png
  public/assets/img-3.png
  public/assets/imgA.png
  public/assets/imgB.png
  public/assets/imgC.png
  src/components/pages/home/index.tsx
Labels: ⭐ enhancement, ✨ goal: improve interface, BEGINNER, gsssoc

#335 fix: Created LEARN.md
  LEARN.md
Labels: 📄 docs update, EASY, level1, gsssoc

#324 fix: Landing page along with navbar made responsive at md screen
  src/components/core/footer/index.tsx
  src/components/core/navbar/index.tsx
  src/components/pages/home/index.tsx
  yarn.lock
Labels: 🏆 good first issue, ⭐ enhancement, ✨ goal: improve interface, EASY, gssoc

#343 feat: Added the feature to auto comment on pr merged
  .github/workflows/auto-comment-pr-merge.yml
Labels: 🏆 good first issue, ⭐ enhancement, ✨ goal: improve interface, EASY, level1, gssoc

#345 feat: added workflow for closing old PRs
  .github/workflows/close-old-pr.yml
Labels: ⭐ enhancement, EASY, level1, gssoc

#346 feat: added workflow as per issue #342
  .github/workflows/close-on-merge.yml
Labels: ⭐ enhancement, dependencies, EASY, level1
