Repository Sanchitbajaj02/palettegram, pull requests merged in 2024-06, with the labels that each got.

#348 feat: integrate Shepherd tour with custom styling
  package.json
  src/components/core/navbar/index.tsx
  src/components/core/themeButton/index.tsx
  src/helper/startTour.ts
  src/styles/shepherdStyles.css
  yarn.lock
Labels: ⭐ enhancement, ✨ goal: improve interface, MEDIUM, level2, gssoc

#331 feat: Added frontend for newsletter section ( exploring backend for the same )
  src/components/core/buttons/index.tsx
  src/components/core/newsletter/index.tsx
  src/components/pages/home/index.tsx
Labels: ⭐ enhancement, ✨ goal: improve interface, wait for reviewers, EASY, level1, gssoc

#354 feat: 404 not found page style improved
  public/assets/404.png
  src/app/[others]/page.css
  src/app/[others]/page.tsx
Labels: ⭐ enhancement, ✨ goal: improve interface, EASY, level1, gssoc

#359 feat: Terms page line styling fixed some padding added
  src/app/(support)/terms/page.tsx
Labels: 🪲 bug, 🛠 goal: fix, ✨ goal: improve interface, BEGINNER, gssoc

#366 feat: Added a "Scroll to top" button Matching to Website Design Theme
  src/app/layout.tsx
  src/components/ScrollToTop/scrolltotop.tsx
  yarn.lock
Labels: ⭐ enhancement, EASY, level1, gssoc

#362 feat: add hex color code box
  src/components/core/colorPicker/index.tsx
Labels: 🏆 good first issue, ⭐ enhancement, wait for reviewers, MEDIUM, level2, gssoc

#381 feat: share profile
  src/components/pages/user/index.tsx
Labels: ⭐ enhancement, EASY, level1, gssoc

#378 feat: Implement Auto-Comment Feature for Issue Closure
  .github/workflows/autocomment-iss-close.yml
Labels: ⭐ enhancement, EASY, level1, gssoc, SSOC

#356 feat: upgrade to Appwrite version 15 and updated website code
  package.json
  src/backend/auth.api.ts
  src/types/auth.d.ts
  yarn.lock
Labels: ⭐ enhancement, HARD, level3, gssoc

#387 fix: start tour messages are attached to proper location now
  src/components/core/navbar/index.tsx
  src/components/pages/home/index.tsx
  src/helper/startTour.ts
Labels: 🪲 bug, 🛠 goal: fix, EASY, level1, gssoc

#385 feat: footer changed
  src/components/core/footer/index.tsx
  yarn.lock
Labels: wait for reviewers, gssoc

#390 fix: Login Error
  src/backend/auth.api.ts
  src/components/pages/auth/login/index.tsx
Labels: 🪲 bug, 🛠 goal: fix, wait for reviewers, MEDIUM, level2, gssoc
