Repository Sanchitbajaj02/palettegram, pull requests merged in 2024-07, with the labels that each got.

#395 fix: tour popup above cursor
  src/styles/shepherdStyles.css
  tailwind.config.js
Labels: 🪲 bug, 🛠 goal: fix, EASY, level1, gssoc, SSOC

#401 fix: email input type to email
  src/components/core/newsletter/index.tsx
Labels: 🪲 bug, 🛠 goal: fix, wait for reviewers, BEGINNER, gssoc

#409 refactor: comment out logs unnecessary for production
  src/backend/auth.api.ts
  src/backend/bookmarks.api.ts
  src/backend/updateProfile.api.ts
  src/components/Editor/EditorMenuBar.tsx
  src/components/core/createPost/index.tsx
  src/components/core/navbar/index.tsx
  src/components/core/newsletter/index.tsx
  src/components/pages/user/userPosts/index.tsx
Labels: 🪲 bug, 🛠 goal: fix, BEGINNER, gssoc

#400 feat: add Lenis custom hook for smooth scrolling
  package.json
  src/app/layout.tsx
  src/helper/leniswrapper.tsx
  src/helper/useLenis.ts
  yarn.lock
Labels: 🏆 good first issue, ⭐ enhancement, ✨ goal: improve interface, wait for reviewers, EASY, level1, gssoc

#408 feat: By-pass email verification on development environment
  src/backend/auth.api.ts
  src/components/pages/auth/register/index.tsx
Labels: ⭐ enhancement, wait for reviewers, MEDIUM, level2, gssoc
