Repository Sanchitbajaj02/palettegram, pull requests merged in 2024-01, with the labels that each got.

#108 docs: Added SWOC guidelines
  CONTRIBUTING.md
  README.md
  docs/setup.md
  docs/swoc.md
Labels: 📄 docs update, dependencies

#110 chore: SWOC image added in README
  .github/assets/swoc-banner.png
  README.md
Labels: 📄 docs update, dependencies

#112 fix: Issue #84 No loading effect and skeleton.
  .env.example
  src/app/feed/loading.tsx
  src/app/loading.tsx
  src/components/pages/auth/login/index.tsx
  src/components/pages/auth/register/index.tsx
  src/components/pages/feed/index.tsx
  yarn.lock
Labels: 🪲 bug, 🏆 good first issue, 🛠 goal: fix, SWOC S4, EASY

#113 feat: Issue #91 add user posts in profile page
  src/components/pages/user/index.tsx
  src/components/pages/user/userPosts/index.tsx
Labels: ⭐ enhancement, SWOC S4, MEDIUM

#116 feat: show password eye button created at register page
  package-lock.json
  src/components/pages/auth/login/index.tsx
  src/components/pages/auth/register/index.tsx
  yarn.lock
Labels: 🏆 good first issue, ✨ goal: improve interface, SWOC S4, BEGINNER

#122 style: improving the ui of buttons #118
  src/components/core/buttons/index.tsx
  src/components/core/navbar/index.tsx
  src/components/core/themeButton/index.tsx
  tailwind.config.js
Labels: ✨ goal: improve interface, SWOC S4, BEGINNER

#127 feat: added-profile-button-on-home-page
  src/components/pages/home/index.tsx
Labels: 🏆 good first issue, ⭐ enhancement, SWOC S4, BEGINNER

#130 chore: Optimization for smooth production
  .github/labeler.yml
  SECURITY.md
  docs/appwrite.md
  package.json
  src/components/pages/auth/login/index.tsx
  yarn.lock
Labels: 📄 docs update, 🛠 goal: fix, dependencies

#129 feat: Added Comment feature on posts
  src/backend/posts.api.ts
  src/components/core/posts/SinglePost.tsx
Labels: ⭐ enhancement, SWOC S4, HARD

#133 fix: hover effect on feed buttons fixed
  src/components/core/navbar/index.tsx
Labels: 🪲 bug, 🏆 good first issue, 🛠 goal: fix, SWOC S4, BEGINNER

#136 fix: Issue #93 Bookmark does not working properly
  src/components/core/navbar/index.tsx
  src/components/core/posts/SinglePost.tsx
Labels: 🪲 bug, 🛠 goal: fix, SWOC S4, HARD

#138 feat: added custom error page
  src/app/[others]/page.tsx
  src/components/core/navbar/index.tsx
Labels: 🏆 good first issue, ⭐ enhancement, SWOC S4, BEGINNER

#119 fix: display user name in posts
  src/backend/auth.api.ts
  src/components/core/posts/SinglePost.tsx
Labels: 🏆 good first issue, ⭐ enhancement, SWOC S4, MEDIUM

#142 docs: fix the docs and fix minor changes
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/styles.yml
  src/app/[others]/page.tsx
  src/app/layout.tsx
  src/components/core/posts/SinglePost.tsx
Labels: 📄 docs update, 🛠 goal: fix, ⭐ enhancement, dependencies

#143 refactor: code refactoring CI updates
  package.json
  src/components/core/buttons/index.tsx
  src/components/core/navbar/index.tsx
  src/components/core/themeButton/index.tsx
  src/components/pages/user/bookmark/index.tsx
Labels: 📄 docs update, ⭐ enhancement, dependencies

#135 fix: start your journey button fixed
  src/components/pages/home/index.tsx
Labels: 🪲 bug, 🛠 goal: fix, SWOC S4, BEGINNER

#156 fix: replaced settings icon fron user icon
  src/components/core/navbar/index.tsx
  src/components/pages/home/index.tsx
Labels: ✨ goal: improve interface, wait for reviewers, SWOC S4, BEGINNER

#155 feat: login with google button created
  src/backend/auth.api.ts
  src/components/pages/auth/login/index.tsx
  yarn.lock
Labels: ⭐ enhancement, ✨ goal: improve interface, SWOC S4, MEDIUM

#159 feat: Confirm password added
  .env.example
  package-lock.json
  src/app/feed/loading.tsx
  src/app/loading.tsx
  src/backend/appwrite.config.ts
  src/backend/auth.api.ts
  src/backend/bookmarks.api.ts
  src/components/core/navbar/index.tsx
  src/components/core/posts/SinglePost.tsx
  src/components/pages/auth/forgot/index.tsx
  src/components/pages/auth/register/index.tsx
  src/components/pages/auth/updatepassword/index.tsx
  src/components/pages/feed/index.tsx
  src/components/pages/user/bookmark/index.tsx
  src/components/pages/user/index.tsx
  src/components/pages/user/userPosts/index.tsx
  yarn.lock
Labels: ⭐ enhancement, SWOC S4, BEGINNER

#165 fix: individual post view added
  src/app/post/[id]/page.tsx
  src/app/post/layout.tsx
  src/components/core/posts/SinglePost.tsx
  yarn.lock
Labels: 🪲 bug, 🛠 goal: fix, wait for reviewers, SWOC S4, MEDIUM

#170 feat: Side contents now sticky as well as responsive.
  src/components/core/trendingFeed/index.tsx
  src/components/pages/feed/index.tsx
Labels: 🪲 bug, 🛠 goal: fix, wait for reviewers, SWOC S4, EASY

#173 docs: updated docs and added documentation for IWOC2.0
  .github/assets/iwoc-banner.png
  .github/assets/swoc-banner.png
  README.md
  SECURITY.md
  docs/iwoc.md
  docs/swoc.md
  package.json
  src/app/post/[id]/page.tsx
  src/app/post/layout.tsx
  src/components/core/createPost/index.tsx
  src/components/core/posts/SinglePost.tsx
  src/components/pages/home/index.tsx
  yarn.lock
Labels: 📄 docs update, dependencies

#177 refactor: createPost handler
  appwrite-gen/schema.json
  src/components/core/createPost/index.tsx
  yarn.lock
Labels: 🛠 goal: fix, dependencies, SWOC S4, BEGINNER

#182 feat: ability to post with ctrl + enter
  src/components/core/createPost/index.tsx
  src/components/core/posts/SinglePost.tsx
  src/helper/isCtrlEnter.ts
Labels: ⭐ enhancement, ✨ goal: improve interface, SWOC S4, EASY

#188 feat: Added contact page
  .env.example
  docs/resend.md
  package.json
  src/app/api/send/route.ts
  src/app/contact/page.tsx
  src/components/core/trendingFeed/index.tsx
  yarn.lock
Labels: 🏆 good first issue, ⭐ enhancement, SWOC S4, EASY

#190 refactor: looked in codebases for toastify
  docs/setup.md
  src/components/core/posts/SinglePost.tsx
  src/components/pages/auth/register/index.tsx
Labels: 🪲 bug, 🛠 goal: fix, SWOC S4, EASY

#194 feat: appwrite prepare indexes for collections
  appwrite-gen/src/generateSchema.ts
  appwrite-gen/src/prepareSchema.ts
Labels: ⭐ enhancement, wait for reviewers, SWOC S4, EASY

#199 feat: added delete post feature
  src/backend/posts.api.ts
  src/components/core/createPost/index.tsx
  src/components/core/posts/index.tsx
  src/components/pages/user/userPosts/index.tsx
  src/redux/reducers/postsReducer.ts
  src/types/index.d.ts
Labels: ⭐ enhancement, ✨ goal: improve interface, SWOC S4, HARD

#203 refactor: Added minor changes
  .gitignore
  Dockerfile
  appwrite-gen/schema.json
  appwrite-gen/tsconfig.json
  package.json
  src/app/api/send/route.ts
  src/app/contact/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/backend/auth.api.ts
  src/backend/posts.api.ts
  src/components/core/createPost/index.tsx
  src/components/core/navbar/index.tsx
  src/components/core/posts/SinglePost.tsx
  src/components/core/posts/index.tsx
  src/components/original.tsx
  src/components/pages/feed/index.tsx
  src/components/pages/home/index.tsx
  src/components/pages/user/index.tsx
  src/redux/ReduxProvider.tsx
  src/redux/reducers/postsReducer.ts
  yarn.lock
Labels: 🪲 bug, 📄 docs update, 🛠 goal: fix, ⭐ enhancement, dependencies

#204 fix: Resend api fix
  next.config.js
  src/app/api/send/route.ts
  src/app/contact/page.tsx
  src/components/pages/EmailTemplate/index.tsx
  src/components/pages/contact/index.tsx
Labels: 🪲 bug, 🛠 goal: fix, ⭐ enhancement

#208 fix: matched the contact page ui with the one used in register/login page
  src/components/pages/contact/index.tsx
Labels: 🏆 good first issue, ✨ goal: improve interface, wait for reviewers, SWOC S4, BEGINNER

#210 feat: Added share button
  src/components/core/posts/SinglePost.tsx
Labels: ⭐ enhancement, SWOC S4, BEGINNER

#211 fix: Refactor navbar component to conditionally render user links and logout button
  src/components/core/navbar/index.tsx
Labels: 🪲 bug, 🏆 good first issue, 🛠 goal: fix, SWOC S4, BEGINNER

#213 fix: logout functionality bug
  src/redux/reducers/authReducer.ts
Labels: 🪲 bug, 🛠 goal: fix, SWOC S4, BEGINNER

#214 refactor: Optimize contents
  src/app/post/[id]/page.tsx
  src/app/post/layout.tsx
  src/components/core/footer/index.tsx
  src/components/core/navbar/index.tsx
  src/components/core/posts/SinglePost.tsx
  src/components/pages/post/index.tsx
  src/components/pages/user/bookmark/index.tsx
  src/components/pages/user/index.tsx
  src/types/index.d.ts
Labels: 🛠 goal: fix, ⭐ enhancement, dependencies, ✨ goal: improve interface

#216 fix: resolved delete handler bug
  src/components/pages/user/userPosts/index.tsx
Labels: 🪲 bug, 🏆 good first issue, 🛠 goal: fix, SWOC S4, BEGINNER

#209 fix: verify redirects and waiting page for users after signin
  src/app/(auth)/verify/page.tsx
  src/components/pages/auth/register/index.tsx
  src/components/pages/auth/verification/index.tsx
  src/components/pages/feed/index.tsx
  src/components/pages/user/index.tsx
  src/middleware.ts
  src/redux/reducers/authReducer.ts
  src/types/index.d.ts
Labels: 🪲 bug, 🛠 goal: fix, SWOC S4, EASY

#219 added-back-button
  src/components/pages/post/index.tsx
Labels: 🏆 good first issue, title needs formatting, ✨ goal: improve interface

#217 feat: rendering the comments and pull requests for #191
  src/app/post/[id]/page.tsx
  src/components/core/comment/index.tsx
  src/components/core/posts/SinglePost.tsx
  src/components/core/posts/index.tsx
  src/components/pages/post/index.tsx
Labels: 🛠 goal: fix, ⭐ enhancement, SWOC S4, EASY

#220 feat: skeleton for posts
  src/components/core/createPost/index.tsx
  src/components/core/posts/index.tsx
  src/components/pages/feed/loading.tsx
  src/components/pages/user/userPosts/index.tsx
  src/redux/reducers/postsReducer.ts
Labels: ⭐ enhancement, wait for reviewers, SWOC S4, EASY

#225 feat: Color picker generator (Work with Admin) issue #98
  appwrite-gen/schema.json
  package.json
  src/components/core/colorPicker/index.tsx
  src/components/core/createPost/index.tsx
  src/components/core/posts/SinglePost.tsx
  src/types/index.d.ts
Labels: ⭐ enhancement, ✨ goal: improve interface, SWOC S4, HARD
