Repository Sanchitbajaj02/palettegram, pull requests merged in 2024-02, with the labels that each got.

#224 feat: added markdown
  package.json
  src/components/Editor/EditorMenuBar.tsx
  src/components/Editor/Markdown.tsx
  src/components/core/colorPicker/index.tsx
  src/components/core/createPost/index.tsx
  src/components/core/posts/SinglePost.tsx
  src/components/pages/post/index.tsx
  src/components/pages/user/userPosts/index.tsx
  src/helper/isCtrlEnter.ts
  src/styles/globals.css
  tailwind.config.js
  yarn.lock
Labels: ⭐ enhancement, wait for reviewers, SWOC S4, MEDIUM

#230 perf: optimize flows with verification card fix
  SECURITY.md
  src/app/(auth)/verify/page.tsx
  src/components/core/comment/index.tsx
  src/components/core/navbar/index.tsx
  src/components/core/posts/SinglePost.tsx
  src/components/core/posts/index.tsx
  src/components/pages/auth/verification/index.tsx
  src/components/pages/feed/index.tsx
  src/components/pages/feed/loading.tsx
  src/middleware.ts
  src/redux/reducers/postsReducer.ts
  yarn.lock
Labels: 🛠 goal: fix, ⭐ enhancement, dependencies, SWOC S4

#232 fix: Markdown
  src/components/Editor/Markdown.tsx
Labels: 🪲 bug, ⭐ enhancement, dependencies, SWOC S4, EASY

#233 feat: add detailed footer section
  src/components/core/footer/index.tsx
  yarn.lock
Labels: ⭐ enhancement, SWOC S4, EASY

#240 refactor: dependency updates
  package.json
  src/app/post/[id]/page.tsx
  src/components/core/footer/index.tsx
  yarn.lock
Labels: 🏆 good first issue, 🛠 goal: fix, ⭐ enhancement, dependencies

#244 refactor: fix undefined accountId and isVerified error
  src/backend/appwrite.config.ts
  src/components/core/createPost/index.tsx
  src/components/core/navbar/index.tsx
  src/components/core/trendingFeed/index.tsx
  src/components/pages/auth/login/index.tsx
  src/components/pages/auth/register/index.tsx
  src/components/pages/feed/index.tsx
  src/helper/isCtrlEnter.ts
  src/redux/reducers/authReducer.ts
  src/redux/reducers/bookmarkReducer.ts
  src/types/index.d.ts
  yarn.lock
Labels: 🪲 bug, 🛠 goal: fix, ⭐ enhancement

#242 feat: replaced react-toastify with sonner lib
  package.json
  src/app/layout.tsx
  src/helper/toastify.ts
  yarn.lock
Labels: ⭐ enhancement, ✨ goal: improve interface, SWOC S4, MEDIUM

#243 feat: Form validation
  src/components/pages/auth/register/index.tsx
Labels: 🪲 bug, 🛠 goal: fix, wait for reviewers, SWOC S4, EASY

#247 refactor: solved the bug mentioned in #246
  src/components/Editor/EditorMenuBar.tsx
  src/components/Editor/Markdown.tsx
Labels: 🪲 bug, 🛠 goal: fix, SWOC S4, EASY

#239 fix: changed footer alignment
  src/components/pages/contact/index.tsx
Labels: 🪲 bug, 🛠 goal: fix, SWOC S4, BEGINNER

#250 fix: patch global scrollbar bug
  src/app/layout.tsx
Labels: 🪲 bug, 🏆 good first issue, 🛠 goal: fix, ✨ goal: improve interface, SWOC S4, EASY

#207 feat: Random avatar generator for profiles #154
  src/backend/auth.api.ts
  src/backend/avatarGenerator.ts
  src/components/pages/user/index.tsx
  src/redux/reducers/authReducer.ts
  src/types/index.d.ts
Labels: ⭐ enhancement, ✨ goal: improve interface, SWOC S4, MEDIUM

#251 fix: navbar bug
  src/app/page.tsx
  src/components/core/navbar/index.tsx
  src/components/pages/home/index.tsx
Labels: wait for reviewers, SWOC S4

#252 docs: implement privacy policy and terms page
  .eslintrc.json
  src/app/(support)/contact/page.tsx
  src/app/(support)/privacy/layout.tsx
  src/app/(support)/privacy/page.tsx
  src/app/(support)/terms/layout.tsx
  src/app/(support)/terms/page.tsx
  src/app/[others]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/backend/auth.api.ts
  src/backend/avatarGenerator.ts
  src/components/core/footer/index.tsx
  src/components/core/navbar/index.tsx
  src/components/core/supportHeader/index.tsx
  src/components/pages/auth/register/index.tsx
  src/components/pages/user/index.tsx
  src/helper/getGithubStars.ts
  src/helper/toastify.ts
  src/styles/globals.css
  src/types/index.d.ts
Labels: 🪲 bug, 📄 docs update, 🛠 goal: fix, ⭐ enhancement, ✨ goal: improve interface, SWOC S4

#259 fix: blinking issue on homepage
  src/app/(support)/privacy/page.tsx
  src/app/(support)/terms/page.tsx
  src/backend/posts.api.ts
  src/components/core/navbar/index.tsx
  yarn.lock
Labels: 🪲 bug, 🛠 goal: fix, wait for reviewers, SWOC S4, MEDIUM

#255 refactor: policy and terms enhancements
  .eslintrc.json
  .gitignore
  package-lock.json
  src/app/(support)/privacy/page.tsx
  src/app/(support)/terms/page.tsx
  src/components/core/footer/index.tsx
  src/components/core/trendingFeed/index.tsx
Labels: 📄 docs update, ✨ goal: improve interface, EASY

#262 fix: Issue 241 - performance issue ( Debugging with admin )
  appwrite-gen/schema.json
  next.config.js
  src/app/(auth)/updatepassword/page.tsx
  src/app/(auth)/verify/page.tsx
  src/app/feed/loading.tsx
  src/app/feed/page.tsx
  src/app/page.tsx
  src/app/post/[id]/page.tsx
  src/backend/auth.api.ts
  src/backend/bookmarks.api.ts
  src/backend/posts.api.ts
  src/components/Editor/EditorMenuBar.tsx
  src/components/Editor/Markdown.tsx
  src/components/core/createPost/index.tsx
  src/components/core/footer/index.tsx
  src/components/core/navbar/index.tsx
  src/components/core/posts/SinglePost.tsx
  src/components/core/posts/index.tsx
  src/components/core/trendingFeed/index.tsx
  src/components/pages/auth/forgot/index.tsx
  src/components/pages/auth/login/index.tsx
  src/components/pages/auth/register/index.tsx
  src/components/pages/auth/verification/index.tsx
  src/components/pages/feed/index.tsx
  src/components/pages/feed/loading.tsx
  src/components/pages/home/index.tsx
  src/components/pages/post/index.tsx
  src/components/pages/user/bookmark/index.tsx
  src/components/pages/user/index.tsx
  src/components/pages/user/userPosts/index.tsx
  src/helper/avatarGenerator.ts
  src/helper/isCtrlEnter.ts
  src/helper/postDisplayTimeFormatter.ts
  src/helper/toastify.ts
  src/middleware.ts
  src/redux/reducers/authReducer.ts
  src/redux/reducers/bookmarkReducer.ts
  src/redux/reducers/postsReducer.ts
  src/redux/reducers/userReducer.ts
  src/types/auth.d.ts
  src/types/index.d.ts
  yarn.lock
Labels: 🪲 bug, 🛠 goal: fix, ✨ goal: improve interface, SWOC S4, HARD

#263 fix: footer over-lapping issue resolve
  src/components/core/trendingFeed/index.tsx
  src/components/pages/user/index.tsx
Labels: 🪲 bug, 🛠 goal: fix, SWOC S4, EASY

#264 fix: migrated icons form react-feather to Lucide-react.
  package.json
  src/components/Editor/EditorMenuBar.tsx
  src/components/Editor/Markdown.tsx
  src/components/core/comment/index.tsx
  src/components/core/createPost/index.tsx
  src/components/core/navbar/index.tsx
  src/components/core/posts/SinglePost.tsx
  src/components/core/themeButton/index.tsx
  src/components/pages/auth/forgot/index.tsx
  src/components/pages/auth/login/index.tsx
  src/components/pages/auth/register/index.tsx
  src/components/pages/auth/updatepassword/index.tsx
  src/components/pages/feed/index.tsx
  src/components/pages/post/index.tsx
  src/components/pages/user/bookmark/index.tsx
  src/components/pages/user/index.tsx
  src/components/pages/user/userPosts/index.tsx
  yarn.lock
Labels: wait for reviewers, SWOC S4
